/**************** GENERIC PAGE CHARTER ****************/
* {
    margin: 0px;
    padding: 0px;
    color: #2e2d30;
    font-family: Arial, Helvetica, sans-serif;
}

p
{
    margin-bottom: 10px;
    margin-top: 10px;
}

hr
{
    border:dashed #CCC 1px;
    border-bottom:0px;
    border-left:0px;
    width:100%;
    margin: 10px 2px;
    padding: 0px 5px;
}


ul, ol 
{
    margin-left:30px;
}

/***** CHARTER *****/
#charter
{
    width: 100%;
    font-size: 13px;
}

/***** CHARTER HEADER *****/
#charter #header_container
{
    margin: 0px;
    height: 100px;
    width: 970px;
    margin: 0 auto;
    position: relative;
    border: 1px solid blue;
}

#charter #header_container #logo_zone
{
    position: absolute;
    top: 5px;
    width: 320px;
    height: 100px;
    color: white;
    background-repeat: no-repeat;
    display: inline;
    float: left;
}

#charter #header_container #logo_zone img
{
    border: 0px none white;
}

#charter #header_container #title
{
	position: relative;
    top: 7px;
    left: 55px;
    font-size: 40px;
}

/***** CHARTER BODY *****/
#charter #body_container
{
    position: relative;
    margin: 10px auto 10px auto;
    width: 970px;
    height: 100px;
    min-height: 520px;
}

/***** CHARTER MENU *****/
#charter #body_container #menu_container
{
    padding: 30px 10px 0 0;
}

.submenu
{
    margin: 10px 10px 10px 10px;
    width: 160px;
    background-color: #ECECEC;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 50px;
}

.submenu a.active {
    color:white;
    text-decoration:none;
    background-color:#333;
}

.submenu a {
    color:#333;
    padding:3px;
    display:block;
    text-decoration:none;
}

.submenu a:hover {
    color:white;
    text-decoration:none;
    background-color:#333;
}

.submenu ul {
    margin-left:0px;
}

.submenu li {
    list-style-type:none;
}

.submenu_content {
    margin-left: 50px;
    width: 650px;
}


/***** CHARTER CONTENT *****/
#charter #body_container #content_container
{
    margin: 10px auto 20px auto;
    width: 750px;
    border: 0px none lightgreen;
}

/***** CHARTER FOOTER *****/
#charter #footer_container
{
    margin: 0;
    position: relative;
    width:970px;
    margin:0 auto;
    clear: both;
    height: auto;
    border: 1px solid red;
}

/*********************/
table.table_classic
{
    border:0px;
    width:100%;
    margin: 5px;
    border-collapse: collapse;
}

table.table_classic > tr > th,
table.table_classic > thead > tr > th
{
    background-color:#ECECEC;
    border:1px solid #DCDCDC;
    margin: 5px;
    padding: 5px;
}

table.table_classic > tr > td,
table.table_classic > tbody > tr > td,
table.table_classic > tfoot > tr > td
{
    border:1px solid #ECECEC;
    margin: 5px;
    padding: 5px;
}
