/**************** GENERIC COMPOSANTS ****************/

.left
{
	text-align: left;
}

/* Used to set width cell in table as narrower as possible. */
.narrower
{
	width: 10px;
}

.center
{
	text-align: center;
}

.right
{
    text-align: right;
}

.bold
{
    font-weight: bold;
}

.unresizable
{
    resize: none;
}

.shift_right
{
    /* Useful with second button */
    display:inline-block;
    float:right;"
}

.without
{
    list-style-type:none;
}

/***** GENERIC COLUMNS *****/

.row
{
    display: block;
}

.row:after
{
    clear: both;
    content: ".";
    display: block;
    height: 0;
    visibility: hidden;
}

.column 
{
    display: inline;
    float: left;
}

/***** GENERICS *****/

.panel {
    width: auto;
    margin-top:0px;
    margin-bottom: 15px;
    margin-right:0px;
    margin-left:0px;
    border-radius:5px;
    padding:20px;
}
