<?xml version="1.0" encoding="UTF-8"?>
<project-modules id="moduleCoreId" project-version="1.5.0">
    <wb-module deploy-name="Kiss4web-demo">
        <wb-resource deploy-path="/" source-path="/WebContent" tag="defaultRootSource"/>
        <wb-resource deploy-path="/WEB-INF/classes" source-path="/src"/>
        <wb-resource deploy-path="/WEB-INF/classes" source-path="/test"/>
        <property name="java-output-path" value="/Kiss4web-demo/build/classes"/>
        <property name="context-root" value="Kiss4web-demo"/>
    </wb-module>
</project-modules>
